

/* Cor X: Vamos usar azul, por exemplo */
.cor-x {
    color: blue; /* Substitua 'blue' pela cor que você deseja */
    font-weight: bold; /* Opcional: só para destacar mais */
    font-size: 150px;
  }
  
  /* Cor Y: Vamos usar vermelho, por exemplo */
  .cor-y {
    color: red; /* Substitua 'red' pela cor que você deseja */
    font-weight: bold;
    font-size: 150px;
  }


  .card-img-top{
    image-resolution: 10%;
  }