

/* Cor X: blue */
.cor-x {
    color: blue; /* Substitua 'blue' pela cor que você deseja */
    font-weight: bold; /* destaque */
    font-size: 150px;
  }
  
  /* Cor Y: red */
  .cor-y {
    color: red; /* Substitua 'red' pela cor que você deseja */
    font-weight: bold;
    font-size: 150px;
  }




  
/* Limita a altura das imagens do Card e força o ajuste */
.card-img-top {
  /* REQUISITO: Usando a unidade REM para a altura máxima (ex: 15rem = 240px) */
  max-height: 22rem; 
  
  /* Garante que a imagem sempre preencha o espaço sem distorcer, cortando o que sobrar */
  object-fit: cover; 
  
  /* REQUISITO: Se quiser uma borda em PX */
  border-bottom: 2px solid #ddd;
}